.contents
  = render partial: "/shared/left-content"
  .right-content
    .right-content-top
      .group-name
        = @group.name
      = link_to 'Edit', edit_group_path(@group), class: 'edit-btn'
      .group-members
        - @group.users.each do |members|
          = members.nickname
    .right-content-center
      = render partial: "message", collection: @messages
    .right-content-bottom
      = form_for ([@group, @message]), html: { class: 'js-form' } do |f|
        .text-field
          = f.text_field :body, placeholder:' type a message', id:"text_field"
        %label
          = f.file_field :image, style: "display: none;", id: "file_field"
          = fa_icon('file-image-o', id: "file_input_point")
        .send-btn
          = f.submit "send", id:"send-btn"
%footer
