.contents
  = render partial: "/shared/left-content"
  .right-content
    .right-content-top
      .group-name
        = @group.name
      = link_to 'Edit', edit_group_path(@group), class: 'edit-btn'
      .group-members
        - @group.users.each do |members|
          = members.nickname
    .right-content-center
      - @messages.each do |message|
        %p.right-content-center__members-nickname
          = message.user.nickname
        %p.right-content-center__comment-time
          = message.created_at
        %p.right-content-center__comment
          = message.body
    .right-content-bottom
      = form_for ([@group,@message]) do |f|
        = f.text_field :body, class: 'text-field', placeholder:' type a message'
        = f.submit "send", class: "send-btn"
        = link_to fa_icon('file-image-o')
%footer
