.left-content
  .left-content-top
    .my-nickname
      = current_user.nickname
    = link_to fa_icon('cog 2x'), edit_user_registration_path
    = link_to fa_icon('pencil-square-o 2x'), new_group_path
  .left-content-bottom
    .group-list
      - @groups.each do |group|
        =link_to group.name, group_messages_path(group), class: "group-list__name"
        - if group.messages.present?
          %p.group-list__message
            = group.messages.last.body
        - else
          %p.group-list__message
            = "まだ新着メッセージがありません。"
